name: Build Plugin
on: [ push, pull_request ]
jobs:
  gradle-build:
    runs-on: ubuntu-latest
    steps:
      - name: git clone
        uses: actions/checkout@v3.6.0
      - name: Set up JDK
        uses: actions/setup-java@v3.12.0
        with:
          distribution: temurin
          java-version: 11
      - name: Set up Gradle
        uses: gradle/gradle-build-action@v2.7.0
      - run: "./gradlew build"