name: Build Plugin

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  gradle-build:
    runs-on: ubuntu-latest
    steps:
      - name: git clone
        uses: actions/checkout@v6
      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          # Java 11 for Gradle 6.x support
          java-version: |
            11
            17
      - name: Set up Gradle
        uses: gradle/actions/setup-gradle@v5
      - name: Set up TestLens
        uses: testlens-app/setup-testlens@v1.5.1
      - run: "./gradlew build"