name: Publish Release
on:
  push:
    tags:
      - 'v*'
jobs:
  release-build:
    runs-on: ubuntu-latest
    steps:
      - name: git clone
        uses: actions/checkout@v4.1.1
      - name: Set up JDK
        uses: actions/setup-java@v4.0.0
        with:
          distribution: temurin
          java-version: 11
      - name: Set up Gradle
        uses: gradle/gradle-build-action@v3.0.0
      - run: "./gradlew :publishPlugin --no-configuration-cache"
        env:
          SIGNING_KEY: ${{ secrets.SIGNING_KEY }}
          SIGNING_PASSPHRASE: ${{ secrets.SIGNING_PASSPHRASE }}
          GRADLE_PUBLISH_KEY: ${{ secrets.GRADLE_PUBLISH_KEY }}
          GRADLE_PUBLISH_SECRET: ${{ secrets.GRADLE_PUBLISH_SECRET }}